@font-face {
  font-family: 'Boston Black';
  src: url('@/assets/fonts/BostonBlack.woff2') format('woff2'),
    url('@/assets/fonts/BostonBlack.woff') format('woff'),
    url('@/assets/fonts/BostonBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boston SemiBold';
  src: url('@/assets/fonts/BostonSemiBold.woff2') format('woff2'),
    url('@/assets/fonts/BostonSemiBold.woff') format('woff'),
    url('@/assets/fonts/BostonSemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boston Bold';
  src: url('@/assets/fonts/BostonBold.woff2') format('woff2'),
    url('@/assets/fonts/BostonBold.woff') format('woff'),
    url('@/assets/fonts/BostonBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boston ExtraLight';
  src: url('@/assets/fonts/BostonExtraLight.woff2') format('woff2'),
    url('@/assets/fonts/BostonExtraLight.woff') format('woff'),
    url('@/assets/fonts/BostonExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boston Heavy';
  src: url('@/assets/fonts/BostonHeavy.woff2') format('woff2'),
    url('@/assets/fonts/BostonHeavy.woff') format('woff'),
    url('@/assets/fonts/BostonHeavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boston Light';
  src: url('@/assets/fonts/BostonLight.woff2') format('woff2'),
    url('@/assets/fonts/BostonLight.woff') format('woff'),
    url('@/assets/fonts/BostonLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boston Regular';
  src: url('@/assets/fonts/BostonRegular.woff2') format('woff2'),
    url('@/assets/fonts/BostonRegular.woff') format('woff'),
    url('@/assets/fonts/BostonRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
