* {
  font-family: "Boston Regular", Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

body {
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
  font-size: $font-size-base;
}

p {
  margin: 0.5rem 0;
}

//card
.p-card-header {
  padding-left: 1.25rem;
  margin: 0;
}
.p-card-content,
.p-card-footer {
  padding: 0;
}

.p-card-body {
  padding: 0 1.5rem;
}

.p-card-footer {
  padding: 0.5rem 0;
  border-top: 1px solid #dddfe1;
}
